* {
  box-sizing: border-box;
}

.col{
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body{
  background:#ffffff;
  font-family:sans-serif;
  background-size: cover;
}

.container{
  background:#ffffff;
  border:none;
  padding:20px;
  max-width: none;
  margin:0 auto;
}
.center {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align:center;
  font-size:60px;
  margin-top:0;
}

.link1{
  width: 100%;
  background-color: #AF3333;
  padding: 20px 0px 10px 0px;
  text-decoration: none;
  border-radius: 12px;
  margin: 12px 0px;
}

.link2{
  background-color: #BF6600;
  padding: 20px 150px 20px 150px;
  text-decoration: none;
  border-radius: 12px;
  margin: 12px 0px;
}
a{
  text-decoration: none;
  color: white
}

#dice{
  margin:20px 0 20px 0;
}

.dieHolder{
  width: 20%;
  text-align:center;
}

.die{
  padding:10px;
  margin:10px;
  cursor: pointer;
}
img{
  padding: 15px 0px
}